{% extends 'backend.html.twig' %}

{% block title %}Traza index
{% endblock %}

{% block article %}


	<h1 class="text-center widget">Traza Mes:
		{{ mes }}
		Año:
		{{anho}}</h1>

	<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered widget">
			<thead class="table-primary">

				<tr>
					<th scope="col">URL</th>
					<th scope="col">Peticiones</th>
					<th scope="col">MB</th>
					<th scope="col">Horas</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>

				{% for d in denegados %}
					<tr>
						<td>{{d['uri']|slice(0,75)}}</td>
						<td>{{d['cant']}}</td>
						<td>{{(d['bytes'] / 1000000)|number_format(2) }}</td>
						<td>{{(d['milis']/3600000)|number_format(2)}}</td>
						<td>
							<i class="bi bi-info-circle"></i>
						</td>
					</tr>
				{% endfor %}

			</tbody>

		</table>
	</div>

{% endblock %}
